# Variables

In [1]:
Bike_name = "Royal Enfield"

In [2]:
Bike_name

'Royal Enfield'

In [3]:
a = 10
b = a * 5
c = "Your result = "
print(c,b)

Your result =  50

In [4]:
x,y,z = 50,"Apple",6

# Constant

In [5]:
import math

In [6]:
math.e ## Euler's number

2.718281828459045

In [7]:
math.pi

3.141592653589793

In [8]:
math.inf

inf

In [9]:
p = 3.141592653589793
r = 10
print(p * r * r)

314.1592653589793

In [10]:
## print the constant infinity value of positive and negative

In [11]:
import math

positive_infinity = math.inf
print("Positive Infinity:", positive_infinity)

negative_infinity = -math.inf
print("Negative Infinity:", negative_infinity)

Positive Infinity: inf
Negative Infinity: -inf

In [12]:
#Calculate the simple interest and display result
Amount = 5000
ri = 8.5
tm = 5.5

si = (Amount * ri * tm)/100
print(si)

2337.5

In [13]:
a = (7 + 8j)
b = (3.1 + 6j)
print(a ,"+", b ,"=", (a+ b))

(7+8j) + (3.1+6j) = (10.1+14j)

In [14]:
x, y, z = 5,0,9

print(y > z)
print(x < z)
print(y == z)

False
True
False

# Data type

In [15]:
a = 100
type(a)

int

In [16]:
b = 10.23
type(b)

float

In [17]:
c = True
type(c)

bool

In [18]:
str = "1j"
print(str)

1j

## Escape Quotes

In [19]:
# \ Can be used to escape quotes

In [20]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [21]:
txt1 = 'It\'s alright.'
print(txt1)

It's alright.

In [22]:
print('\'"Yes", he.\'')

'"Yes", he.'

In [23]:
print("First \nsecond")

First
second

## Raw string

In [24]:
print('C:\some\name')

C:\some
ame

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Akbarhusain\AppData\Local\Temp\ipykernel_13540\3441249919.py:1: SyntaxWarning: invalid escape sequence '\s'
  print('C:\some\name')

In [25]:
print(r'C:\some\name') # r represent that (read the sentence as it is)

C:\some\name

In [26]:
doc = str("sle")
print(type(doc))

TypeError: 'str' object is not callable

In [27]:
doc1 = "24 - aug - 2024"
print(type(doc1))

<class 'str'>

## Type conversion

In [28]:
e = 180.3
s = int(e)
type(s)

int

In [3]:
age = "20"
usera = int(40)
vo_age = int("18")

print(type(age))
print(type(usera))
print(type(vo_age))

<class 'str'>
<class 'int'>
<class 'int'>
18

In [2]:
age = int(20.98)
age

20